<head>
	<meta charset="utf-8">
	<title>Contacts Manager</title>
</head>
<body>
	<div ng-app="contactMgr" ng-controller="AppCtrl">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<template name="exampleModal">
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">

		                <div class="modal-header">
		                    <h4 class="modal-title">Modal example</h4>
		                </div>

		                <div class="modal-body">
		                    <p>A modal example.</p>
		                </div>

		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                </div>

		            </div>
		        </div>
		    </div>
		</template>
		
		<!-- <nav class="navbar navbar-default" role="navigation"> -->
		<div class="container">
			<a class="navbar-brand" ng-if="!isLogin" ui-sref="index">명함 관리 프로그램 <span class="glyphicon glyphicon-home"></span></a>
			<a class="navbar-brand" ng-if="isLogin" ui-sref="list">명함 관리 프로그램 <span class="glyphicon glyphicon-home"></span></a>
			<span>
				<login-buttons></login-buttons>
			</span>
			<!-- <div id="namecard-search" class="form-group pull-right">
				<div class="pull-right">
					<input type="search" name="" id="input" class="form-control" value="" required="required" title="aoeu">
				</div>
				<div id="namecard-label">명함 검색</div>
			</div> -->
		</div>
		<!-- </nav> -->
		</nav>
		<div class="main" ui-view="layout"></div>
	</div>
	<div class="footer">
		<p>김봉주 | 경기도 화성시 화산로 10길 | 010-9558-1534 | kimbj008@gmail.com</p>
    	<p>Copyright &copy; 2016 Namecard project. All rights reserved.</p>
 	</div>
</body>

