/* CSS declarations go here */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.mt10 { 
	margin-top: 10px;
}
body { 	
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: -10px;
	bottom: 90%;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;
	white-space: pre;
	z-index: 9999;

	opacity: 0;
	left: -9999px;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	bottom: 100%;
	left: 0;
	opacity: 1;
}

.main {
	margin-top: 50px;
}

.footer {
	text-align: center;

}

.center {
	text-align: center;
}

.modal-button-wrapper {
	height: 30px;
}

.align-right {
	text-align: right;
}

.glyphicon {
	font-size: 1rem;
}

.btn-default {
	border : 0;
}

.navbar {
	margin-bottom : 0;
	min-height: 50px;
}

#main-wrapper {
	margin-right: 0;
	margin-left: 0;
	height : 90vh;
}

#main-wrapper > div {
}

#main-wrapper #member-view, #main-wrapper #namecard-list , #main-wrapper #category-list{
	
}

#main-wrapper #member-view{
	padding: 0;
}

#category-list {
	padding-right: 0;
	padding-left: 0;
	margin: 0;
}


#namecard-list {
	padding: 0;
	border-right : 1px solid #ddd;
	border-left : 1px solid #ddd;
	/*min-height: 100%;*/
}

@media screen and (max-width:768px) {
	#namecard-list {
		border-right : 0;
		border-left : 0;
	}
}
.category-edit {
	height: 34px;
	border-bottom : 1px solid #ddd;
}
.category-edit > a{
	width: 100%;
	margin: 0;
	border-radius: 0;
}

.namecard-edit {
	height: 34px;
	border-bottom : 1px solid #ddd;
}
.namecard-edit > a{
	width: 100%;
	margin: 0;
	border-radius: 0;
}

#main-wrapper #member-view .namecards-view-edit {
	height: 34px;
	border-bottom : 1px solid #ddd;
}

.namecards-row {
	margin-top: 20px;
}
.namecards-row .card-block {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.namecard-view-division-line {
	margin-top: 20px; 
	border-bottom: 1px solid #ddd;
}

#namecard-view-wrapper .namecard-front{
	border : 0px;
}
#namecard-view-wrapper .namecard-set { 
	width : 400px;
	height: 160px;
	margin: auto;
	background-color: #fff;
	margin-top: 20px;
}

.search-wrapper {
	margin: 5px;
}

.flex-box {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	      align-items: center;
	-webkit-justify-content: center;
	      justify-content: center;
}

#namecard-view-wrapper .namecard-set #company-name {
	font-size: 3rem;
}

nav #namecard-search{
	/*margin-top: 7px;
	margin-bottom: 9px;*/
	width : 40%;
}

nav #namecard-search > #namecard-label{
	float: right;
	display: inline-block;
	padding: 7px 10px 0 0;
}

.category-row .card-block{
	border : 0;
}

.card-block.active{ 
	background-color: #eee;
}


.cards-wrapper {
	height : 80vh;
	overflow-y : scroll;
	overflow-x : hidden;

}
.card {
	position: relative;
    display: block;
    background-color: #fff;
}
.card-block {
	padding: 10px;
	cursor:pointer;
}
.card-title {
	font-size: 1.7rem;
    margin-bottom: .75rem;
}

