<!-- <div class="category-edit">
	<a ng-click="categoryModal('add', null)" class="btn btn-default btn-md">
		<i class="fa fa-cog" aria-hidden="true"></i>
	</a>
</div> -->

<div class="search-wrapper" ng-show="categorys">
	<!-- <span class="glyphicon glyphicon-search"></span> -->
	<input kr-input class="form-control input-sm" type="text" placeholder="분류를 검색하세요." name="searchCategory" ng-model="searchCategoryText">
</div>
<div class="category-wrapper">
	<div class="category-row">
		<div data-tooltip-text="{{category.explanation}}" class="card card-block" ng-class="{'active': activeCategory === category._id}" ng-repeat="category in categorys | filter:searchCategoryText" ng-click="selectCategory(category._id)">
			<h4 class="card-title">
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{category.name | truncate:5}}
				<span class="pull-right" ng-if="category._id != 0">
					<a ng-click="categoryModal('modify', category)" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a ng-click="deleteCategory(category._id)" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</span>
			</h4>
		</div>
	</div>
</div>

<!-- 분류관리 modal -->
<modal title="분류 관리" visible="showModal">
	<!-- {{categoryForm | json}} -->
	<div class="form-group">
		<label for="categoryForm.name">분류명</label>
		<input ng-model="categoryForm.name" class="form-control input-sm" type="text" name="text" placeholder="분류명을 입력하세요."/>
	</div>
	<div class="form-group">
		<label for="categoryForm.explanation">설명</label>
		<input ng-model="categoryForm.explanation" class="form-control input-sm" type="text" name="text" placeholder="설명을 입력하세요."/>
	</div>
	<div class="modal-button-wrapper">
		<div class="pull-right">
			<a ng-if="mode == 'add'" ng-click="addCategory()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<a ng-if="mode == 'modify'" ng-click="modifyCategory()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</div>
</modal>