<!-- 카테고리 등록, 명함 등록 버튼 -->
<!-- <div class="row category-edit text-center 
">
	<div class="col-xs-6">
		<a ui-sref="categoryForm" class="btn btn-default btn-md">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</a>
	</div>
	<div class="col-xs-6">
		<a ui-sref="writeCard({type: 'add'})" class="btn btn-default btn-md">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
		</a>
	</div>
</div> -->
<!-- 카테고리 선택 -->
<div class="category-wrapper">
	<!-- <pre>{{categorys | json}}</pre> -->
	<select class="search-wrapper form-control" name="selectCategory" ng-model="selectCategory" ng-change="selectCategoryId()">
		<option value="{{category._id}}" ng-repeat="category in categorys">{{category.name}}</option>
	</select>
</div>