<div class="namecard-edit">
	<a ng-click="namecardModal('add', null)" class="btn btn-default btn-md">
		<i class="fa fa-user-plus" aria-hidden="true"></i>
	</a>
</div>

<!-- 명함관리 modal -->
<modal title="명함 관리" visible="showModal">
	<div class="form-group">
		<label for="namecardForm.category">분류</label>
		<select class="form-control" name="selectCategory" ng-model="namecardForm.category">
			<option value="{{category._id}}" ng-repeat="category in categorys">{{category.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="namecardForm.department">부서</label>
		<input ng-model="namecardForm.department" class="form-control input-sm" type="text" name="text" placeholder="부서을 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="form-group">
		<label for="namecardForm.position">직급</label>
		<input ng-model="namecardForm.position" class="form-control input-sm" type="text" name="text" placeholder="직급을 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="form-group">
		<label for="namecardForm.name">이름</label>
		<input ng-model="namecardForm.name" class="form-control input-sm" type="text" name="text" placeholder="이름을 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="form-group">
		<label for="namecardForm.email">이메일주소</label>
		<input ng-model="namecardForm.email" class="form-control input-sm" type="text" name="text" placeholder="이메일주소를 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="form-group">
		<label for="namecardForm.phone">핸드폰번호</label>
		<input ng-model="namecardForm.phone" class="form-control input-sm" type="text" name="text" placeholder="핸드폰번호를 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="form-group">
		<label for="namecardForm.address">주소</label>
		<input ng-model="namecardForm.address" class="form-control input-sm" type="text" name="text" placeholder="주소를 입력하세요." ng-disabled="namecardForm.category.length == 0"/>
	</div>
	<div class="modal-button-wrapper">
		<div class="pull-right">
			<a ng-if="mode == 'add'" ng-click="addNamecard()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<a ng-if="mode == 'modify'" ng-click="modifyNamecard()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</div>
</modal>