<div class="category-edit">
	<a ng-click="categoryModal('add', null)" class="btn btn-default btn-md">
		<i class="fa fa-cog" aria-hidden="true"></i>
	</a>
</div>

<!-- 분류관리 modal -->
<modal title="분류 관리" visible="showModal">
	<!-- {{categoryForm | json}} -->
	<div class="form-group">
		<label for="categoryForm.name">분류명</label>
		<input ng-model="categoryForm.name" class="form-control input-sm" type="text" name="text" placeholder="분류명을 입력하세요."/>
	</div>
	<div class="form-group">
		<label for="categoryForm.explanation">설명</label>
		<input ng-model="categoryForm.explanation" class="form-control input-sm" type="text" name="text" placeholder="설명을 입력하세요."/>
	</div>
	<div class="modal-button-wrapper">
		<div class="pull-right">
			<a ng-if="mode == 'add'" ng-click="addCategory()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<a ng-if="mode == 'modify'" ng-click="modifyCategory()" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</div>
</modal>