<br/>
<br/>
<div class="container">

  <div class="jumbotron">
    <h1>명함관리 프로그램</h1>
    <br/>
    <p class="lead">
	안녕하세요. 개발자 김봉주 입니다.<br/>
	이 프로그램은 유저별로 원하는 명함을 분류(회사)별로 나누어서 등록하고 관리할 수 있는 프로그램 입니다.<br/>
	meteor환경의 angularjs를 사용했고 레이아웃은 ui-router 라이브러리를 사용하여 작업 하였습니다.
    </p>
    <br/>
    <p class="center">당신의 명함 관리를 위해 지금 바로 시작하세요!</p>
  </div>

  <hr>

  <!-- 열들이 있는 행 예제 -->
  <div class="row-fluid">
    <div class="span4">
      <h3>유저 별 명함관리</h3>
      <p>로그인 기능을 통해 유저별로 명함 관리를 할 수 있는 기능을 제공합니다. 나만의 명함집 공간에 나의 명함들을 채워나가세요!</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
    </div>
    <div class="span4">
      <h3>분류 관리</h3>
      <p>명함들이 여기저기 섞여있어서 바로바로 찾기 어려우셨나요? 명함을 분류별로 등록하여 관리할 수 있도록 도와드립니다. 회사명을 분류로써 또는 원하는 분류로 등록하신뒤 그 분류에 맞게 명함을 등록하면 보다 명함을 관리하기 수월하실꺼에요!</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
   </div>
    <div class="span4">
      <h3>검색 기능</h3>
      <p>분류 리스트별, 명함 리스트별 검색 기능을 제공합니다. 리스트 내용이 너무 많아 스크롤을 내리느라 불편하시거나 원하는 분류나 명함을 바로 찾을 수 있도록 검색 기능을 제공합니다!</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
    </div>
  </div>

  <hr>

</div>