<div id="main-wrapper" class="row">
	<div id="category-list" class="col-sm-3">
		<div ui-view="createCategory"></div>
		<div class="hidden-xs" ui-view="catogoryList"></div>
	</div>
	<div id="namecard-list" class="col-sm-3">
		<div ui-view="createNamecard"></div>
		<div class="hidden-xs" ui-view="namecardList"></div>
	</div>
	<div id="category-list-xs" class="col-sm-6 visible-xs" ui-view="categoryListXs"></div>
	<div id="member-view" class="col-sm-6" ui-view="namecardView"></div>
</div>