<div class="page-header">
	<h1><span class="glyphicon glyphicon-user"></span> 로그인</h1>
</div>

<div class="container">
	<div class="row">
		<div>
			<span>
				<h4>아이디 
					<a class="btn btn-default btn-sm"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;아이디 찾기</a>
				</h4>
			</span>
			<input ng-model="id" class="form-control input-sm" type="text" name="text" placeholder="아이디를 입력하세요."/>
		</div>
		<br>
		<div>
			<span>
				<h4>비밀번호
					<a class="btn btn-default btn-sm"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;비밀번호 찾기</a>
				</h4>
			</span>
			<input ng-model="id" class="form-control input-sm" type="text" name="password" placeholder="비밀번호를 입력하세요."/>
		</div>
		<br>
		<div class="pull-left">
			<a class="btn btn-default btn-md">
				<span href="#/memberForm/add" class="glyphicon glyphicon-plus"></span>&nbsp;회원가입
			</a>
		</div>
		<div class="pull-right">
			<a class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-ok"></span>&nbsp;로그인
			</a>
		</div>
	</div>
</div>