<div ng-if="mode != 'add'" class="page-header">
	<h1><span style="color:#337ab7">{{namecard.name}}</span>님의 명함</h1>
</div>
<div ng-if="mode == 'add'" class="page-header">
	<h1>명함 추가</h1>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<tr>
			<th>분류</th>
			<td>
				<select class="form-control" name="selectCategory" ng-if="mode != 'view'" ng-model="namecard.category">
					<option value="{{category._id}}" ng-repeat="category in categorys">{{category.name}}</option>
				</select>
				<span ng-if="mode == 'view'">{{namecard.category}}</span>
				<a ng-if="mode != 'view'" href="#/categoryForm" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-folder-open"></span>&nbsp;분류관리
				</a>
			</td>
		</tr>
		<tr>
			<th>부서</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.department" class="form-control input-sm" type="text" name="text" placeholder="부서을 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.department}}</span>
			</td>
		</tr>
		<tr>
			<th>직급</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.position" class="form-control input-sm" type="text" name="text" placeholder="직급을 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.position}}</span>
			</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.name" class="form-control input-sm" type="text" name="text" placeholder="이름을 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.name}}</span>
			</td>
		</tr>
		<tr>
			<th>이메일주소</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.email" class="form-control input-sm" type="text" name="text" placeholder="이메일주소를 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.email}}</span>
			</td>
		</tr>
		<tr>
			<th>핸드폰번호</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.phone" class="form-control input-sm" type="text" name="text" placeholder="핸드폰번호를 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.phone}}</span>
			</td>
		</tr>
		<tr>
			<th>주소</th>
			<td>
				<input ng-if="mode != 'view'" ng-model="namecard.address" class="form-control input-sm" type="text" name="text" placeholder="주소를 입력하세요." ng-disabled="namecard.category.length == 0"/>
				<span ng-if="mode == 'view'">{{namecard.address}}</span>
			</td>
		</tr>
	</table>
</div>
<div class="pull-right">
	<a onclick="window.history.back()" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a ng-if="mode == 'add'" ng-click="addNamecard()" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-ok"></span>
	</a>
	<a ng-if="mode == 'modify'" ng-click="modifyNamecard()" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-ok"></span>
	</a>
	<a ng-if="mode == 'view'" ng-href="#/namecardForm/modify/{{namecard._id}}" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
	<a ng-if="mode == 'view'" ng-href="#/namecardForm/delete/{{namecard._id}}" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-trash"></span>
	</a>
</div>