<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<div ng-if="namecardViews.length == 0" class="align-right">
	명함이 존재하지 않습니다.
</div>
<div ng-if="namecardViews">
	<div ng-repeat="namecardView in namecardViews">
		<!-- <div class="namecards-view-edit">
			<div class="pull-right">
				<a ui-sref="editCard({ type: 'modify', id : namecardView._id})" class="btn btn-default btn-md">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a ng-click="deleteNamecard(namecardView._id)" class="btn btn-default btn-md">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</div>
		</div> -->

		<div id="namecard-view-wrapper">
			<div class="namecard-front namecard-set">
				<div class="flex-box">
					<div id="company-name">
						{{namecardView.categoryName}}
					</div>
				</div>
			</div>
			<div class="namecard-back namecard-set well">
				<span class="glyphicon glyphicon-user"></span>{{namecardView.name}}
				<span class="pull-right">{{namecardView.categoryName}}</span><br>
				{{namecardView.department}} | {{namecardView.position}}<br><br>
				<span class="glyphicon glyphicon-envelope"></span> {{namecardView.email}}<br>
				<span class="glyphicon glyphicon-phone"></span> {{namecardView.phone}}<br>
				<span class="glyphicon glyphicon-map-marker"></span>{{namecardView.address}}
			</div>
		</div>

		<div ng-if="namecardViews.length > 1" class="namecard-view-division-line"></div>
	</div>
</div>